* {
    padding: 0;
    margin: 0;
}

.fondo {
    background-color: rgba(248, 227, 246, 0.993);
}

main {
    width: 100vw;
    background-image: url("../img/otrofondo.png");
    background-repeat: repeat-y repeat-x
       
}

.fondoCatalogo {
    background-color: rgba(205, 247, 233, 0.363);
    
}

.tapaLibro {
    height: 300px;


}

h2 {
    height: 80px;
}

h3 {
    color: rgba(73, 71, 71, 0.884);
}

h4 {
    font-size: small;
}

.precio {
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
}

#btnAgregar {
    display: flex;
    align-self: flex-end;
}

.mostrarCarrito {
    background-color: rgba(142, 247, 247, 0.39);
    padding-bottom: 10px;
}

.tituloCarrito {
    font-weight: bolder;
    text-align: center;
}