* {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100vh;
}

.fondo {
    background-color: rgba(207, 137, 221, 0.993);
}

main {
    width: 100vw;
    background-image: url("../img/otrofondo.png");
    background-repeat: repeat-y repeat-x;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    width: 100vw;
}

.fondoCatalogo {
    background-color: rgba(210, 184, 245, 0.473);
}

.botonCarrito {
    font-size: 50px;
    font-weight: bolder;
    color:rgba(24, 24, 116, 0.897)
}

.tapaLibro {
    height: 200px;
    box-shadow: 5px 5px 5px black;
    transition-property: all;
    transition-duration: 1s;
}

.tapaLibro:hover{
    transform: scale(1.5);
}

.error-catalogo {
    font-size: 40px;
    font-weight: bold;
    align-self: center;
}

h2 {
    height: 60px;
    color:rgba(19, 19, 100, 0.897);
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

h3 {
    color: rgba(53, 51, 51, 0.884);
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: small;
}

.precio {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}

#btnAgregar {
    display: flex;
    align-self: flex-end;
}

.mostrarCarrito {
    background-color: rgba(142, 247, 247, 0.39);
    padding-bottom: 10px;
}

.tituloCarrito {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color:rgba(19, 19, 100, 0.897);
}

#numeroCarrito {
    font-size: xx-large;
    font-weight: bold;
}

.botonCarrito {
    font-size: 35px;
}

.precioTotal {
    font-size: 25px;
    font-weight: bolder;
}

footer {
    width: 100vw;
    background-color: rgba(207, 137, 221, 0.993);
    height: 100px;
    display: flex;
    gap: 200px;
    justify-content: center;
}

.textoFooter {
    font-size: 15px;
}

.social {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

.mediosPago {
    display: flex;
    flex-direction: row;
    color: black;
    justify-items: end;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}